# Tuple

## Major difference between list and tuple:

1. Tuple is defined using '( )' brackets while list is defined using '[ ]' brackets
2. Tuple is immutable while list is mutable.
3. Tuple is faster in terms of execution while list is slower.
4. Tuple consumes less memory space while list consumes more memory space.

#### How to define a tuple:

E.G:

In [2]:
my_tuple = (11463, "Sheetal Jain", 405, "81%")

#### Printing elements of tuple:

###### Elements of tuple are accessed in the same way as the list elements are accessd

In [4]:
for x in my_tuple:
    print(x)

11463
Sheetal Jain
405
81%

## What happens when a sinlgle element is passed in tuple:

When a single element is passed in tuple, it defines data type of tuple as the type of the data of that single element.

E.G:

In [6]:
t = (10)
type(t)

int

As it can be seen the type of 't' is 'int'. To get rid of this, and to define 't' as tuple write a comman after that single.

E.G.:

t = (10,)
type(t)

## Concept of packing and unpacking

##### If we are assigning multiple values to  a variable by separing with a ',' (comma), the data of variable will be tuple. This way of assigning multiple value is called packing.

E.G.:

In [2]:
a=23,45,576,563
print(type(a))
print(a)

<class 'tuple'>
(23, 45, 576, 563)

As it can be seen, we have packed many values in variable a, and it's date type is 'tuple'.

##### When we are accesing these values using other variables in the following way:

In [3]:
w,x,y,z=a
print(w,x,y,z)

23 45 576 563

###### Then, it is called unpacking.

## Immutability

We can change entire tuple at once:
E.G.:

In [2]:
t3=(100,200,300,400,500)
for x in t3:
    print(x)

100
200
300
400
500

In [3]:
t3=(1,2,3,4,5)
for x in t3:
    print(x)

1
2
3
4
5

Here, we can see entire data of tuple t3 has gotten changed. Actually, data hasn't been chnaged, in the previous cell, t3 is refering to data (100,200,300,400,500) while in the next cell now, reference of t3 has gotten changed. Now, t3 is refering to data (1,2,3,4,5)

In this way we can change entire data of tuple but we cannot perform any change on the elements of a tuple as tuple is an immutable sequence of elements.

E.G.:

In [17]:
t1 = (1,2,3,4,5)

In [16]:
t1[1]=10

TypeError: 'tuple' object does not support item assignment

##### But element of a list nested inside a tuple can be changed

E.G.:

In [18]:
t2=(1,2,3,[10,11,12],"Sheetal")

In [19]:
t2[3][1]

11

In [20]:
t2[3][1]=1101

In [21]:
t2[3][1]

1101

In [4]:
mytuple=(11,2,3,"Shivani","Vaishnvee",[13,15])

In [5]:
mytuple[5][1]=18

In [6]:
mytuple

(11, 2, 3, 'Shivani', 'Vaishnvee', [13, 18])

for i in t2:
    print(i)

As it can be seen that we can make changes in a list nested in side a tuple.

## We cannot delete an element of a tuple, but an entire reference or object can be deleted.

E.G.:

In [7]:
t4 = (11525,'Sheetal Jain','Agra, Uttar Pradesh')

In [5]:
del(t4[1])

TypeError: 'tuple' object doesn't support item deletion

In [8]:
tuple1=(11,13,14,18)

In [10]:
del(tuple1)

In [11]:
print(tuple1)

NameError: name 'tuple1' is not defined

###### As it can be seen, tuple object doesn't support deletion of an element.

### But entire tuple object can be deleted. Here is how:

In [6]:
del(t4)

In [7]:
t4

NameError: name 't4' is not defined

As it can be seen, 't4' doesn't exist.

## Fucntions in tuple

len(): is used to obtain length of a tuple

min(): to obtain minimum value stored in a tuple

max(): to obtain maximum value stores in a tuple

sum(): Sum of all elements

sorted(): To sort elements in ascending 

any(): any() returns true if atleast one element is true, and if all elements are false it returns false.

all(): all() function returns true if all values are true else it returns false

tuple(): to make tuple using an iterable object by passing it in tuple() function

### Examples:

In [9]:
#Example 1
t5=(12,34,54,67,77)
any(t5)

True

In [11]:
#Example 2
sum(t5)

244

In [12]:
#Example 3
min(t5)

12

In [13]:
#Example 4
max(t5)

77

In [15]:
#Example 5
all(t5)

True

In [16]:
#Example 6
t6=(0,0.0,False)
all(t6)

False

In [17]:
#Example 7
t7=[10,20,30,40,50]
type(t7)

list

In [22]:
t8=tuple(t7)

In [23]:
t8

(10, 20, 30, 40, 50)

## Methods for tuple

In [ ]:
1. count()
2. index()

In [23]:
#Example 1:
t9=(1,2,3,3,5,6,6,6,6,6,7,7,7,3,3,3,4,4,4)
t9.count(3)

5

In [24]:
# Exampel 2:
t9.index(1)

0

Method index() takes the elements as argument and print index of that element

#### Use of membership operator on a tuple:

In [2]:
a = ("a","e","i","o","u")
'a' in a

True

In [3]:
'i' in a

True

In [4]:
'p' not in a

True

In [5]:
'q' in a

False

## Concatenation

In [11]:
a1 = (1,3,5)
a2 = (2,4,6)
print(id(a1))
print(id(a2))
print(id(a1+a2))

1513776445632
1513776568128
1513751765120

It can be seen, the concatenated tuple has a different id which means a new object of concatenated tuple has been created.

## Multiplication of elements in a tuple

In [12]:
x = (12,13,14)
print(x)

(12, 13, 14)

In [15]:
y=x*3
print(y)

(12, 13, 14, 12, 13, 14, 12, 13, 14)

In [14]:
for i in x:
    print(i)

12
13
14

In [16]:
for i in y:
    print(i)

12
13
14
12
13
14
12
13
14

## Relational  Operator on tuple

In [ ]:
These operators compare elements as follows:

In [18]:
    a = (3,2,4)
    b = (3,5,6)
    c = a < b
    print(c)
    print(a>b)

True
False

Statement 'c = a<b'  returned true because first a[0],b[0] is compared, but no conclusion could be arrived. Then, a[1] & b[1] is compared, True could be returned. 'a>b' returned false by following the same execution process.