
# For loop in Python and range() function

#### For loop Syntax

 for some_variable in some_collection:
    
    
    ................
    ................
    ..loop body.....
    ................
    ................

In [3]:
name="Sheetal Jain"
for index in name:
    print(index, end=" ")

S h e e t a l   J a i n

Here bewbeen 'for' and 'in' keyword, we can take any variable. and variable 'index' is refering the indices of string name.

### Let us iterate for loop on a list

In [5]:
items = ["Mango","Apple","Banana", "Watermelon","Guava"]
for index in items:
    print(index)

Mango
Apple
Banana
Watermelon
Guava

##### So as we can se, the code is printing element in the list. Here, index is directly refering to the elements of the list

### In 'for' loop, after the keyword 'in', there should an interable entity.Else, it would give an error.

In [2]:
x=1234
for x in x:
    print(x)

TypeError: 'int' object is not iterable

As it can be seen, 'x' is an int  object and isn't iterable.

### Use of 'else' block with for loop

In [5]:
a=[10,14,35,26]
Lower_bound = 8
upper_bound = 30
for i in a:
    if i < Lower_bound or i >  upper_bound:
        print("All element are not in the limit")
        break
else:
    print("All element are in the limit")

All element are not in the limit

# The range()  Function

 range() function is used to generate a sequence of numbers in the form of list.

Range function can take three parameters: start, stop, steps. <br>
Syntax: <br>
range(start, stop, step)

In [13]:
a=range(1,200,10)

In [14]:
for i in a:
    print(i)

1
11
21
31
41
51
61
71
81
91
101
111
121
131
141
151
161
171
181
191

### The range() will make sequence for n-1 elements, where n is the number of element to be printed. Because it indexes number from 0.

In [16]:
x=range(2,100,2)
print(x)

range(2, 100, 2)

list(x)

In [17]:
for i in x:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

### range() function generates a sequence of no elements on giving an only one negtive parameter.

In [21]:
x=range(-10)

In [27]:
for i in x:
    print(i)
else:
    print("Loop completed")

Loop completed

In [25]:
y=range(1,6)
for i in y:
    print(i)

1
2
3
4
5

In [10]:
y=range(-20,6)
list(y)

[-20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0,
 1,
 2,
 3,
 4,
 5]

In [8]:
count=0
for i in y:
    count=count+1
print("Number of Elements: {} ".format(count))

Number of Elements: 26

##### Let us see some more examples on  range() function

In [11]:
n1=range(-10, -3)
list(n1)

[-10, -9, -8, -7, -6, -5, -4]

In [13]:
n2=range(-22, -1, 2)
list(n2)

[-22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

#### Note: 3rd argument should not be zero.

In [15]:
n3=range(-5,19,0)
list(n3)

ValueError: range() arg 3 must not be zero

### Mini Project: Generate Prime Numbers Using Charles Babbage Function

T = X^2 + X + 41 <br> 
The above formula generates a sequence of values for 'T'. Which happens to be prime number. <br>
Example :  
<hr style="width:38%;text-align:left;margin-left:0;height:3px">
<b>|&emsp;&emsp;T=X^2 + X + 41</b><b>&emsp;&emsp;|&emsp;&emsp; Value of X&emsp;&emsp;|</b><br>
<hr style="width:38%;text-align:left;margin-left:0;height:3px">
|&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;41&emsp;&emsp;&emsp;&emsp;|&emsp;&emsp;&emsp;&emsp;0&emsp;&emsp;&emsp;&emsp;|<br>
|&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;43&emsp;&emsp;&emsp;&emsp;|&emsp;&emsp;&emsp;&emsp;1&emsp;&emsp;&emsp;&emsp;|<br>
|&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;47&emsp;&emsp;&emsp;&emsp;|&emsp;&emsp;&emsp;&emsp;2&emsp;&emsp;&emsp;&emsp;|<br>
|&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;53&emsp;&emsp;&emsp;&emsp;|&emsp;&emsp;&emsp;&emsp;3&emsp;&emsp;&emsp;&emsp;|<br>
|&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;61&emsp;&emsp;&emsp;&emsp;|&emsp;&emsp;&emsp;&emsp;4&emsp;&emsp;&emsp;&emsp;|<br>
<hr style="width:38%;text-align:left;margin-left:0;height:3px">

### Q: WAP to generate prime numbers using the Charles Babbage Formula. The Output should be as shown in the above table and should read value of X from the user.

In [4]:
x=int(input("How many prime numbers do you want to print?  "))
print("    X    |    T    ")
print("___________________")
for i in range(0,x):
    T= i**2+i+41
    print(f"    {i}    |    {T}    ")

How many prime numbers do you want to print?  7
    X    |    T
___________________
    0    |    41
    1    |    43
    2    |    47
    3    |    53
    4    |    61
    5    |    71
    6    |    83

#### Questions

Q1:  What is the output of the below program<br>
&emsp;&emsp;my_str = "I Love My India"<br>
&emsp;&emsp;count = 0<br>
&emsp;&emsp;for char in my_str:<br>
&emsp;&emsp;&emsp;count=count+1<br>
&emsp;&emsp;&emsp;if char=="E":<br>
&emsp;&emsp;&emsp;&emsp;break<br>
&emsp;&emsp;print(count)

In [9]:
my_str = "I Love My India"
count = 0
for char in my_str:
    count=count+1
    if char=="e":
        break
print(count)

6