<h1 style="color:rgb(34, 138, 103)"> Function </h1>

What is here?
1. What is function ?
2. how to write a function?
3. Argument vs parameter in the function
4. Return statement in python
5. Scope of varible; Local and Global variable in function
6. Lambda Fucntion 
7. Map and filter function

<h1 style="color:rgb(34, 138, 103)">What is a function</h1>

A function is a block of code written for performing a particular task and can be used as and when it is needed.For example, if you want to make a project calculating simple interest and compound interest as and when it is required, then you will need separate blocks of code which will perform your tasks individually.

<h1 style="color:rgb(34, 138, 103)">How to write a function?</h1>

#### Syntax  of writing a function in python

##### def function_name(Parameters):

<p>&emsp;&emsp;...............<br>
   &emsp;&emsp;.............. <br>
   &emsp;&emsp;fucntion definition <br>
   &emsp;&emsp;...............<br>
   &emsp;&emsp;...............<br></p>

In [29]:
# Example :  No return statement and no argument(s)
def myfunction():
    print("I am a function!!")
#Calling myfunction()
myfunction()

I am a function!!

In [7]:
#Example : No return statment and with arguments
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))
def sum_of_two(n1,n2):
    print("Sum is : ",(n1+n2))
sum_of_two(a,b)

Enter first number : 10
Enter second number : 20
Sum is :  30

In [8]:
#Example : With return statement and with arguments
def sum_of_two(n1,n2):
    s=(n1+n2)
    return s

a=int(input("Enter first number : "))
b=int(input("Enter second number : "))

m=sum_of_two(a,b)
print("Sum of the numbers is : ",m)

Enter first number : 50
Enter second number : 45
Sum of the numbers is :  95

In [9]:
#Example : With return statement and with no argument
def factorial():
    k=int(input("Enter the number you want to find the factorial of : "))
    ans=1
    for i in range(1,k+1):
        ans=ans*i
    return ans
        
#Storing in a variable and then printing it using print function
n=factorial()
print("Factorial is : ", n)
#Directly calling the function inside print function
print("Factorial is : ", factorial())

Enter the number you want to find the factorial of : 5
Factorial is :  120
Enter the number you want to find the factorial of : 7
Factorial is :  5040

<h3 style="color: rgb(113, 20, 85);">Mini Project: A Program to calculate simple and compound interest.</h3>

In [ ]:
print("Welcome to SI and CI Calculator")   
print("--------------------------------------------------------------------")
print("--------------------------------------------------------------------")

def si():
    p=int(input("Enter the principal : "))
    r=int(input("Enter rate of interest (p.a) : "))
    t=int(input("Enter the time period in years : "))
    i=(p*r*t)/100
    print(f"The amount of interest is {i}")
    print("--------------------------------------------------------------------")
def ci():
    p=int(input("Enter the principal : "))
    r=int(input("Enter rate of interest (p.a) : "))
    t=int(input("Enter the time period in years : "))
    m=pow((1+(r/100)),t)
    ia=p*m
    ia=ia-p
    print("The amount of interest is: ",format(ia,"10.2f"))
    print("--------------------------------------------------------------------")
while True:
    print("Choose any one : \n1. SI\n2. CI\n3. Exit")
    choice=int(input("Enter your choice : "))
    if choice==1:
        si()
    elif choice==2:
        ci()
    elif choice==3:
        print("Thank You. Good Bye")
        break;
    else:
        print("Wront Input, press 3 for exit")

Welcome to SI and CI Calculator
--------------------------------------------------------------------
--------------------------------------------------------------------
Choose any one :
1. SI
2. CI
3. Exit
Enter your choice : 2
Enter the principal : 25000
Enter rate of interest (p.a) : 10
Enter the time period in years : 5
The amount of interest is:    15262.75
--------------------------------------------------------------------
Choose any one :
1. SI
2. CI
3. Exit

<h2 style="color:rgb(34, 138, 103)">Argument vs Parameter in a function</h2>

<img src="" style="width:500px; height:250px">

 Credit for image : stackoverflow

<b>Argument :</b>Arguments are the value or variable passed in a function call<br><b>Parameters :</b> Parameters are written in the function header. These are palceholders for the argument passed in function calling

###### Example :

In [5]:
#function definition
def add(a,b):
    print("Sum is : ",(a+b))
#function call
x=12
y=32
#Passing varibles as arguments
add(x,y)
#passing values as arguments
add(10,64)

Sum is :  44
Sum is :  74

<h2 style="color:rgb(34, 138, 103)">Return statement in Python</h2>

<h3> If a fucntion returns anything then we write only return statement but not the return type and we store the returned result in a variable or in variables. But we need to take as many variable as we have passed while function calling.</h3>

In [6]:
#Example 2:
def palindrom(x):
    test=x
    ans=0
    while test!=0:
        digit=test%10
        ans=ans*10+digit
        test=test//10
    return ans
print("Welcome you here in 'Game of Palindrome Number':")
x=int(input("Enter an integer to check whether it is a palindrom or not : "))
result = palindrom(x)
if(result == x):
    print(f"{x} is palindrom")
else:
    print(f"{x} is not palindrom")

Welcome you here in 'Game of Palindrome Number':
Enter an integer to check whether it is a palindrom or not : 1254
1254 is not palindrom

<h3>In python it is allowed to return more than one variable at a time.</h3>

 here We will return sum of the digits, product of the digits, and number of digits.

In [1]:
#Example 3
def play_with_number(x):
    sum=0
    product=1
    digits=0
    digit=0
    dummy=x
    while dummy!=0:
        digit=dummy%10
        sum=sum+digit
        dummy=dummy//10
    
    dummy=x
    while dummy!=0:
        digit=dummy%10
        product=product*digit
        dummy=dummy//10
    
    dummy=x
    while dummy!=0:
        digits+=1
        dummy=dummy//10
    return sum,product,digits

In [2]:
x=int(input("Enter an integer : "))
a,b,c=play_with_number(x)
print(f"Sum of Digit is : {a} \nProduct of digits is : {b} \nNumber of digits :{c}")

Enter an integer : 12545
Sum of Digit is : 17
Product of digits is : 200
Number of digits :5

<h3 style="color: rgb(113, 20, 85);">Q : WAP to return the factorial of a given number</h3>

In [3]:
def factorial(n):
    fact=1
    while n!=0:
        fact=fact*n
        n-=1
    return fact

In [4]:
m =  int(input("Enter a number : "))
print("The factorial of the given number is : ", factorial(m))

Enter a number : 7
The factorial of the given number is :  5040

<h2 style="color:rgb(34, 138, 103)">Positional Argument</h2>

##### You will see it when number of arguments in function definition is not equal to number of argument passed while function calling.This means that we have to write as many parameters in the function definition as many we have passed in the function call. For Example,

In [7]:
def pro(a,b):
    return a+b

In [ ]:
#Function call when number of argument is as same as number of parameters in the function definition.
pro(10,20)

In [8]:
#Function call when number of argument is not as same as number of parameters in the function definition.
pro(10)

TypeError: pro() missing 1 required positional argument: 'b'

##### As it can be seen, the error says, "pro() missing 1 required positional argument: 'b'". Hence, we should be passing as many number of parameters as many are there in the function definition.

<h2 style="color:rgb(34, 138, 103)">Keyword Argument</h2>

##### If we are passing arguments with value in function call then they are keyword argument.

In [1]:
def ka(a,b,c,d):
    return a*b*c*d

In [4]:
print(" ",ka(a=1,b=2,c=3,d=5))

  30

##### While using keyword arguement we need to ensure that whether we are passing the argument variable as same as mention in fucntion defintion.
#### For example:
F is not an argument variable in the defintinon of the function ka(). So, it will be prompting an err saying,"ka() got an unexpected keyword argument 'f'"

In [9]:
ka(a=1,b=2,c=3,f=5)

TypeError: ka() got an unexpected keyword argument 'f'

<h2 style="color:rgb(34, 138, 103)">Default Argument</h2>

We can define a default value of an argument while defining a function as follows:

##### Note :

###### Non-default arguments are followed by defauld argument. If you don't write in this way you will be shown an error saying, "non-default argument follows default argument"

In [10]:
#Example 
def default_arument(a,b,c=0,d):
    return a+b+c+d

SyntaxError: non-default argument follows default argument (1863839330.py, line 1)

In [7]:
#Exmple 

def default_arument1(a,b,d,c=0):
    return a+b+c+d

We can pass a new value for a default argument, but if we don't pass it takes the default argument assigned 
while writing defintion of a function

In [8]:
#Example 1
default_arument1(1,2,3,4)

10

In [17]:
#Example 2
default_arument1(1,2,3)

6

<h2 style="color:rgb(34, 138, 103)"> Function Overloading </h2>

##### Function in Python does't support overloading. But rather than prompting an err it calls the recent definition of the function.

#### For Example

In [11]:
def product(a,b,c,d):
    return a*b*c*d

In [12]:
def product(a,b,c,d,e):
    return a*b*c*d*e

In [13]:
def product(a,b,c,d,e,f):
    return a*b*c*d*e*f

In [14]:
#Example 1: Function call with four arguments
product(10,20,30,40)

TypeError: product() missing 2 required positional arguments: 'e' and 'f'

In [15]:
#Example 2: Function call with five arguments
product(10,20,30,40,50)

TypeError: product() missing 1 required positional argument: 'f'

In [16]:
#Example 3: Function call with six arguments
product(10,20,30,40,50,60)

720000000

###### As it can be seen only one fucntion, which is recent, has been called. Rest two functions are now of no use. Now, we cannot pass 3 or 4 arguments. To over come this we have a 
<h2 style="color:rgb(34, 138, 103)">Concept of passing n values in a fucntion and receiving them in a tuple</h2>

In [9]:

def product(*a):
    mul=1
    print(a)
    for i in a:
        mul=mul*i
    
    return mul

<h3><b>Note</b></h3><i>Writing more than one *a (any other varible can also be there other than 'a') is invalid</i>

In [4]:
#Example
def myfunction(*a,*b):
    print(a)
    print(b)
myfunction(a,b,b,c,c,d,d,d,e)

SyntaxError: * argument may appear only once (2461950445.py, line 2)

In [10]:
#Example 1:Function call with 3 arguments
product(10,20,30)

(10, 20, 30)

6000

In [11]:
#Example 2:Function call with 6 arguments
product(10,20,30,40,50,60,)

(10, 20, 30, 40, 50, 60)

720000000

In [12]:
#Example 3:Function call with 8 arguments
product(10,20,30,40,50,60,70,80)

(10, 20, 30, 40, 50, 60, 70, 80)

4032000000000

##### As it  can be seen, in the above three examples, that the multiple values passed are being stored in the tuple with the help of '*' operator.

<h3 style="color: rgb(113, 20, 85);">Q : Write a function to calculate area of circle in such a way that it receives an argument 'r' for radius and it has a default argument 'pi = 3.14'.</h3>

In [15]:
def area_of_circle(r,pi=3.14):
    return pi*r*r;

In [16]:
area_of_circle(10)

314.0

In [1]:
#More Exmaple 

def attach(name,price):
    print(f"My item is {name} and price is {price} ")
    print("My item is ",name, "and price is",price)
    print("My item is {0} and price is {1}".format(name,price))
    
attach(price=150,name="Dove Shop")

My item is Dove Shop and price is 150
My item is  Dove Shop and price is 150
My item is Dove Shop and price is 150

#### Here, as we can see, I changed the place of arguments in function call but as I have used keyword argument, values were assigned to the variables they were intended to be assigned.

<h3 style="color: rgb(113, 20, 85);">Q: WAP lar_string() which accepts multiple string and prints the length of longest string</h3>

In [3]:
def lar_string():
    b=[]
    x=input("Enter names saprated by comma  : ")
    x=x.split(',')
    for i in x:
        b.append(len(i))
    print(f"{max(b)} is the length of the largest string. ")
lar_string()

Enter names saprated by comma  : simmi,sheetal,vandna, radha
7 is the length of the largest string.

<h2 style="color:rgb(34, 138, 103)">Scope of a varible</h2>

#### The scope of a varible can be local or global.

<b>1. Local Varible</b> : A varible which can't be used beyond a block of code is called a local varible.For example, a varible defined within a loop, or within a function defintion can be accessed within the function or the loop, such a varible is a local varible.

In [8]:
#Eample:
def add():
    a=2
    b=5
    print("Sum : ",(a+b))
add()
print(a+b)

Sum :  7

NameError: name 'a' is not defined

##### Since, varible a and b are local varible, they can't be accessed beyond the function block. So, we can say scope of varible a & b is local, and they are local varible.

<b>2. Global Varible</b> : A varible which can be used from anywhere in a program is a global varible.

In [1]:
#Example 1
x=input("Enter you name : ")
def welcome(x):
    print(x)
def len_of_name(x):
    print(len(x))
def reverse(x):
    print(x[::-1])
welcome(x)
len_of_name(x)
reverse(x)

Enter you name : Simmi
Simmi
5
immiS

As it can be seen the varible 'x' can be accessed in all three fucntions(i.e. reverse(),len_of_name(),welcome()). Hence, the scope of varible 'x' is global and thus 'x' is a global varible.

In [3]:
#Example 2:
a="I am Sheetal"
def myfunc():
    a="I am Simmi"
    print(a)
myfunc()# contain local varible 'a'
print("------------------")
print(a)# value of global varible 'a'

I am Simmi
------------------
I am Sheetal

##### ★ We can make a varible global even inside a function or any particular block of code by writing keyword 'global' before the varible name.

In [7]:
# Example 3
def pr():
    global k
    k="Let's get back to home"
    print(k)
pr()
print(k)

Let's get back to home
Let's get back to home

##### 》But if you try to access a varible you declared inside a function from outside the function block then it will prompt an error.

In [11]:
#Example 4
def pr():
    m="Let's get back to home"
    print(m)
pr()
print(m)

Let's get back to home

NameError: name 'm' is not defined

In [13]:
#Example 5
a = "I loved Java language"
def myfunc1():
    global a
    a="But I have to fall in love with Python as AIML is Python oriented"
    print(a)
    print(id(a))
myfunc1()
print(a)
print(id(a))

But I have to fall in love with Python as AIML is Python oriented
2653862310320
But I have to fall in love with Python as AIML is Python oriented
2653862310320

<p style="color:red;">We should observe that the varible which though declared inside a function but have been made global by using keyword "global" is pointing to the same address whihc the varible declared ouside function has.</p>

<h2 style="color:rgb(34, 138, 103)">Lamda Function</h2>

Lambda function is an anonymous function which can take any number of arguments but can have only one expression. Here are some examples,

<h4 style="color: rgb(149, 10, 67);"> Example 1: a lambda function returning differecnce of squares of integers passed in it</h4>

In [26]:
x=lambda a,b:(abs(a**2-b**2))
print(x(5,7))

24

<h4 style="color: rgb(149, 10, 67);">Example 2:Write a lambda function returning first character of the string passed in it</h4>

In [14]:

x=lambda a:(a[0])
print(x("Simmi"))

S

<h4 style="color: rgb(149, 10, 67);">Example 3:Write a lambda function returning last character of the string passed in it</h4>

In [16]:
x=lambda a:(a[-1])
print(x("Simmi"))

i

<h4 style="color: rgb(149, 10, 67);">Example 4:Write a lambda function returning true if the positve interger is even else false.</h4>

In [21]:
#Way 1
E_O=lambda a:a%2==0
print(E_O(24))

True

In [23]:
#way 2
E_O2=lambda n: False if n%2!=0 else True
print(E_O2(7))

False

In [2]:
#Practice :  returning true if entered input is a digit else false
E_O3 = lambda a: True if a//10 == 0 else False
print(E_O3(5))

True

<h4 style="color: rgb(149, 10, 67);">Example 5: Write a lambda function to find the greatest of the two numbers</h4>

In [24]:
# 
G_2=lambda a,b: b if b>a else a
print(G_2(5,6))

6

<h4><b>Uses of Lambda Function:</b></h4>
    1. It can be used to define an anonymous function inside another function<br>
    2. It is also used to sort and filter data<br> 
    3. It is also used to create higher-order function<br>
    4. It is also used to simplify the code<br>

<h2 style="color:rgb(34, 138, 103)">Map and Filter Function</h2>

Map is a pre-defined function. map() accepts two areguments, a function and an interable. It performs function on each element of iterable and returns an iterable object containg results.Here is an example,

In [74]:
#example1
list1=[1,2,4,5,6,7]
print(list(map((lambda a:a**2),list1)))

[1, 4, 16, 25, 36, 49]

In [6]:
#Example 2:
list2=[]
n=int(input("Of How many number you want to find the square ? "))
for i in range(0,n):
    x=int(input(f"Enter input number {i+1}  :"))
    list2.append(x)
ans=list(map((lambda a:a**2),list2))
for i in range(0,n):
    print(f"Square of {list2[i]} : {ans[i]}")

Of How many number you want to find the square ? 5
Enter input number 1  :2
Enter input number 2  :3
Enter input number 3  :4
Enter input number 4  :5
Enter input number 5  :6
Square of 2 : 4
Square of 3 : 9
Square of 4 : 16
Square of 5 : 25
Square of 6 : 36

##### <h3 style="color: rgb(113, 20, 85);">Q : WAP called inspect() that accepts string as an argument and returns the words "EVEN" if string is of even length else returns last letter of the string</h3>

In [75]:
list(map(lambda a: "EVEN" if len(a)%2==0 else a[-1],["Sheetal","Simmi","Shivani","Vashnavi","Umang","Roma"]))

['l', 'i', 'i', 'EVEN', 'g', 'EVEN']

Hence, it can also be said that map() perfomrs a functionality on elements of an iterable or it filters out the values.

<h3 style="color: rgb(113, 20, 85);">Q : Write a map function with lambda expression that accepts the name of the user and returns all vowels present in the name. If there is no vowel in the user's name then print "No Vowel is Present"</h3>

In [5]:
x=input("Enter your name : ")
v="AEIOUaeiou"
ans=list(map(lambda c:c if c in v else None, x))
#removing "None" from ans using list comprehension.
ans=[char for char in ans if char is not None]
if len(ans)!=0:
    print(ans)
else:
    print("No Vowel is Present")

Enter your name : Simmi Sheetal Jain
['i', 'i', 'e', 'e', 'a', 'a', 'i']

Here, in the above question we used list comprehension to extrat only vowels in the ans. But for the same functionality we can use filter fucntion. here is an exmaple:

In [1]:
x=input("Enter your name : ")
v="AEIOUaeiou"
ans=list(filter(lambda c: True if c in v else None, x))
if len(ans)==0:
    print("No vowel is present")
else:
    print(ans)

Enter your name : Sheetal
['e', 'e', 'a']

<h3 style="color:brown;">Filtering process:</h3>
<br>
The filter function applies the lambda function to each character in the input string x.<br>
It keeps only the characters for which the lambda function returns True (i.e., the vowels).

## Example :  
### Applying filter function to a list of numbers to filter only even numbers from them

In [4]:
l1=[]
n=int(input("How many numbers you want to enter : "))
for i in range(0,n):
    y=int(input(f"Enter element no. {i+1} : "))
    l1.append(y)
ans=list(filter((lambda a:a if a%2==0 else None),l1))
print(ans)

How many numbers you want to enter : 5
Enter element no. 1 : 25
Enter element no. 2 : 65
Enter element no. 3 : 44
Enter element no. 4 : 72
Enter element no. 5 : 98
[44, 72, 98]

## How to filter words that contain at least 2 vowels from the series
## sr=pd.Series(["Apple","Orange","Plan","Python","Money"]

In [4]:
import pandas as pd
print(list(filter(lambda x:x if sum(list(map(lambda a: 1 if a in "aeiouAEIOU" else 0,x)))>1 else None,pd.Series(["Apple","Orange","Plan","Python","Money"]))))

['Apple', 'Orange', 'Money']

# Reduce Function

As we have seen map() functions maps each item of a sequence to a function passed in it and filter function filters the items for which the function returns true. Each of the two functions returns multiple values but reduce function reduces the result to one value. It returns only one value.

In [7]:
#Example 
import numpy as np
from functools import reduce
arr=np.random.randint(1,15,7)
print(arr)
result=reduce((lambda x,y:x*y), arr)
print(result)

[ 1 10 10 12  5  4  6]
144000

# zip()

We can combine two sequence using this function.

In [2]:
#Example 
ids=[1,2,4,5,6]
names=["Simmi","Sanju","Sharda","Shreya","Sheetal"]
data=zip(ids,names)
for i,j in data:
    print(i,j)

1 Simmi
2 Sanju
4 Sharda
5 Shreya
6 Sheetal

In [3]:
#We can create a dictionary also using this zip function 
data=dict(zip(ids,names))
print(data)

{1: 'Simmi', 2: 'Sanju', 4: 'Sharda', 5: 'Shreya', 6: 'Sheetal'}

## Questions for parctice:

### Q1: Write a function to find LCM of n numbers

* Euclidian algorithm: LCM(a,b) * HCF(a,b) = a * b
* lcm(a,b) = (a * b)//gcd(a,b)

In [12]:
#Solution
def lcm_of_n_numbers(*a):
    # This function gives gcd of two numbers 
    def gcd(a,b):
        if b==0:
            return a
        else:
            return gcd(b,a%b)
    #This function gives lcm of two numbers
    def lcm_of_two_numbers(x,y):
        return (x*y//gcd(x,y))
    #this part of code is to get the n numbers as a list and then find lcm of two element at a time.
    numbers=list(a)
    ans=numbers[0]
    for i in range(1,len(numbers)):
        ans=lcm_of_two_numbers(ans,numbers[i])
    return ans

In [13]:
#Example:
lcm_of_n_numbers(2,6,7,9)

126

In [11]:
#Example:
lcm_of_n_numbers(3,4,5,6,7,8)

840

In [14]:
#Example:
lcm_of_n_numbers(6,7,8,9,10)

2520